.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-title h1{
    font-weight: 600;
    font-size: 70px;
    padding: 0px 25px;
}
.about-left img{
    width: 400px;
    margin-top: 70px;
}
.about-sections{
    display: flex;
    gap: 75px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    font-weight: 400;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.about-skill{
    display: flex;
    gap: 40px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 180px;
    font-size: 20px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}
.about-acheivements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-acheivemen{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-acheivement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-acheivement p{
    font-size: 20px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-acheivement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
@media (max-width:768px) {
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1{
        font-size: 50px;
        padding: 0;
    }
    .about-title img{
        width: 130px;
        right: -20px;
    }
    .about-sections{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;
    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-acheivements{
        justify-content: space-between;
    }
    .about-acheivement{
        gap: 10px;
    }
    .about-acheivement h1{
        font-size: 35px;
        font-weight: 600;
    }
    .about-acheivement p{
        text-align: center;
        font-size: 16px;
    }

}